@model List<ResultBookingDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Rezervasyonlar</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Misafir</th>
                            <th>Giriş Tarihi</th>
                            <th>Çıkış Tarihi</th>
                            <th>Durum</th>
                            <th>Onayla</th>
                            <th>İptal Et</th>
                            <th>Beklet</th>
                            <th>Güncelle</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.BookingID</td>
                                <td>@item.Name</td>
                                <td>@(((DateTime)item.Checkin).ToString("dd-MMM-yyyy"))</td>
                                <td>@(((DateTime)item.Checkout).ToString("dd-MMM-yyyy"))</td>
                                <td>
                                    <span class="badge badge-primary px-2">@item.Status</span>
                                </td>
                                <td>
                                    <a class="btn btn-success" href="/BookingAdmin/ApprovedReservation/@item.BookingID">Onayla</a>
                                </td>
                                <td>
                                    <div class="btn btn-danger">İptal Et</div>
                                </td>
                                <td>
                                    <div class="btn btn-primary">Beklet</div>
                                </td>
                                <td>
                                    <div class="btn btn-info">Güncelle</div>
                                </td>
                                <td>
                                    <div class="btn btn-dark">Detaylar</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

